/* Declaração de variáveis
Em vez de trocar uma a uma, basta alterar somente a variável*/
:root {
    --vermelho: #E50914;
    --preta: #141414;
}

/* RESET CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row; /* já é configuração padrao*/
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial', Times;
    font-weight: 900;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAAAAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #ffffff;
}

